
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

    <!-- phần features-->
    <section class="features" id="features">
        <h1 class="heading">our <span>features</span></h1>
        <div class="box-container">
            <div class="box">
                <img src="~/img\Features\fresh.jpg" alt="">
                <h3>Discover Freshness</h3>
                <p>Explore our latest products</p>
                <a href="#" class="btn">Read More</a>
            </div>

            <div class="box">
                <img src="~/img\Features\giaohang.png" alt="">
                <h3>Enjoy Free Delivery</h3>
                <p>Get your favorites delivered</p>
                <a href="#" class="btn">Read More</a>
            </div>

            <div class="box">
                <img src="~/img\Features\thanhtoan.jpg" alt="">
                <h3>Simple Payments</h3>
                <p>Convenient and secure payment options</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
    </section>
   